.page-container {
    width: 100%;
    .movie-list-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2% 7% 7%;
    }
}